<ion-tabs>

  <ion-tab-bar slot="bottom" aria-label="Navegação principal">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calculator">
      <ion-icon aria-hidden="true" name="speedometer-outline"></ion-icon>
      <ion-label>Calcular</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-icon aria-hidden="true" name="time-outline"></ion-icon>
      <ion-label>Histórico</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vehicles">
      <ion-icon aria-hidden="true" name="car-outline"></ion-icon>
      <ion-label>Veículos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="more">
      <ion-icon aria-hidden="true" name="ellipsis-horizontal"></ion-icon>
      <ion-label>Mais</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
