<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calculator">
      <ion-icon name="speedometer"></ion-icon>
      <ion-label>Calcular</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-icon name="time"></ion-icon>
      <ion-label>Histórico</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vehicles">
      <ion-icon name="car"></ion-icon>
      <ion-label>Veículos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Configurações</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
