<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title>Mais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios">
    <ion-toolbar>
      <ion-title size="large">Mais</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="more-menu-card">
    <ion-list>
      <ion-item button detail="false" (click)="abrirDespesas()" class="menu-item-despesas" lines="none">
        <ion-icon slot="start" name="card-outline" class="icone-despesa-menu"></ion-icon>
        <ion-label>Despesas</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline" class="chevron-custom"></ion-icon>
      </ion-item>

      <div class="custom-divider"></div>

      <ion-item button detail="false" (click)="abrirReceitas()" class="menu-item-receitas" lines="none">
        <ion-icon slot="start" name="cash-outline" class="icone-receita-menu"></ion-icon>
        <ion-label>Receitas</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline" class="chevron-custom"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card class="more-menu-card">
    <ion-list>
      <ion-item button detail="false" (click)="abrirConfiguracoes()" class="menu-item-config" lines="none">
        <ion-icon slot="start" name="settings-outline" class="icone-config-menu"></ion-icon>
        <ion-label>Configurações</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline" class="chevron-custom"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
